<ActionBar title="Recipe Discovery" class="action-bar"></ActionBar>

<ScrollView class="green">

   <StackLayout>

    <Label class="banner" textWrap="true" text="Take a photo of an ingredient, and we'll match it with a recipe!"></Label>

    <Label *ngIf="ingredient" class="banner-title" text="Searching: {{ingredient}}"></Label>

    <GridLayout cols="*" rows="*,*">
       
        <Button row="0" [text]="'fa-camera' | fonticon" class="fa btn cameraButton" (tap)="takePhoto()"></Button>
         
    </GridLayout>

    <WrapLayout horizontalAlignment="center">      
        <StackLayout class="card" width="45%" *ngFor="let recipe of recipes">
            <Image height="80%" stretch="aspectFill" [src]="recipe.Image" (tap)="goToRecipe(recipe.id)"></Image> 
            <Label height="20%" horizontalAlignment="center" textWrap="true" [text]="recipe.Name"></Label>                
        </StackLayout>           
    </WrapLayout> 
       
        
   </StackLayout>
    
    
</ScrollView>