<ActionBar title="QuickNom or Not?" class="action-bar"></ActionBar>

<ScrollView class="green">

   <StackLayout>

    <Label class="banner" textWrap="true" text="Take a photo of a composed dish and check if might be a QuickNom"></Label>
    
    
    <Button [text]="'fa-camera' | fonticon" class="fa btn cameraButton" (tap)="takePhoto()"></Button>

    <WrapLayout horizontalAlignment="center" orientation="horizontal">
        <StackLayout width="48%" *ngFor="let ingredient of allIngredients">
            <Label class="tag" [text]="ingredient"></Label>
        </StackLayout>
    </WrapLayout>

    
        
   </StackLayout>
    
    
</ScrollView>