<ActionBar title="QuickNom or Not?" class="action-bar"></ActionBar>

<ScrollView class="green">

   <StackLayout>

    <Label class="banner" textWrap="true" text="Take a photo of a composed dish and check if it qualifies as a QuickNom"></Label>

    <GridLayout cols="*" rows="*,*">
       
        <Button row="0" [text]="'fa-camera' | fonticon" class="fa btn cameraButton" (tap)="takePhoto()"></Button>
    
        <Image row="1" *ngIf="recipePic" width="400" height="400" [src]="recipePic"></Image>                    
     
    </GridLayout>

    <StackLayout *ngFor="let ingredient of ingredients">
        <Label text="ingredient"></Label>
    </StackLayout>
       
        
   </StackLayout>
    
    
</ScrollView>