<ActionBar class="action-bar">
    <Label [text]="title"></Label>
</ActionBar>
<ScrollView class="green">
    <WrapLayout horizontalAlignment="center">      
        <StackLayout class="card" width="45%" *ngFor="let recipe of (recipes$ | async)">
                <Image height="80%" stretch="aspectFill" [src]="recipe.Image" (tap)="goToRecipe(recipe.id)"></Image> 
                <Label height="20%" horizontalAlignment="center" textWrap="true" [text]="recipe.Name"></Label>                
        </StackLayout>           
    </WrapLayout> 
</ScrollView>
