<ActionBar title="Search" class="action-bar"></ActionBar>

<StackLayout class="green">
    <SearchBar #SearchBar (submit)="search($event)"></SearchBar>
    <ScrollView height="87%">
        <WrapLayout horizontalAlignment="center">      
            <StackLayout class="card" width="45%" *ngFor="let recipe of recipes">
                <StackLayout rows="auto,*" (tap)="goToRecipe(recipe.id)">
                    <Image stretch="aspectFill"  [src]="recipe.Image" height="85%" width="100%"></Image>            
                    <Label class="name" horizontalAlignment="center" textWrap="true" [text]="recipe.Name"></Label>
                </StackLayout>
            </StackLayout>          
        </WrapLayout> 
    </ScrollView>
    
    <Image src="~/images/search-by-algolia.png" style="margin:5;width:200"></Image>
    
</StackLayout>