<ActionBar title="Search" class="action-bar"></ActionBar>

<StackLayout class="green">
    <SearchBar #SearchBar (submit)="search($event)"></SearchBar>
    <ScrollView height="87%">
            <WrapLayout horizontalAlignment="center">      
                    <StackLayout class="card" width="45%" *ngFor="let recipe of recipes">
                            <Image height="80%" stretch="aspectFill" [src]="recipe.Image" (tap)="goToRecipe(recipe.id)"></Image> 
                            <Label height="20%" horizontalAlignment="center" textWrap="true" [text]="recipe.Name"></Label>                
                    </StackLayout>           
                </WrapLayout> 
    </ScrollView>
    
    <Image src="~/images/search-by-algolia.png" style="margin:5;width:200"></Image>
    
</StackLayout>