ActionBar {
    background-color: #650100;
    color: white;
}

/* UI elements */

.banner {
    background-color: #FACC45;
    color: black;
    font-weight: bold;
    font-size: 20;
    text-align: center;
    width: 100%;
}

.caption { 
    color: black;
    font-style: italic;
}

.name {
    margin:10
}

.title {
    font-weight: bold;
    font-size: 20;
    color: white;
    text-align: center;
}

.temp {
    font-weight: bold;
    font-size: 70;
    text-align: center;
}

.bar {
    font-size: 10;
}

.highlight {
    background-color: yellow;
}

/* cards */

.card {
    margin: 5;
    color: white;
    vertical-align:top;
    background-color: #650100;
    border-radius: 5;
    border-color: #8AC215;
    height:300;
}

.homecard {
    margin: 5;
    color: white;
    vertical-align:top;
    text-align: center;
    border-radius: 5;
    background-color: #650100;
}

.innerCard {
    color: #650100;
    vertical-align:top;
    padding: 5;
    background-color: white;
}

.gradientCard {
    color: #650100;
    vertical-align:top;
    padding: 5;
    margin: 5; 
    text-align: center;
    border-radius: 5;
}


/* generics*/

.green {
    background-color: #8AC215;
}

.orange {
    background-color: orange;
}

.brown {
    background-color: #650100;
}

/*specifics*/

.btnSpeak {
    height: 40;
    width: 40;
    font-size: 15;
    text-align: center;
    color: #fff;
    border-radius: 20;
    text-align: center;
    vertical-align: bottom;
}

@keyframes pulse {
    0% { transform: scale(1, 1);}
	50% { transform: scale(1.15, 1.15);}
	100% { transform: scale(1, 1);}
}
.pulse {
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

/*fonticon*/
.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

.ion {
  font-family: Ionicons, ionicons;
}

/*fab*/
.fab-button {
    height: 40;
    width: 40; 
    margin: 10;
    background-color: #650100; 
    horizontal-align: right; 
    vertical-align: top; 
}
.speed-button {
    height: 40;
    width: 40;
    margin: 10;
    font-size: 15;
    text-align: center;
    color: #fff;
    opacity: 0;
    border-radius: 25;
    horizontal-align: right;
    vertical-align: top;
}
.btna {
  background-color: red; 
}
.btnb {
  background-color: orangered; 
}
.btnc {
  background-color: orange; 
}
.btnd {
  background-color: yellow;
}/*
.btne {
  background-color: #F13030; 
}*/

/*camera grid*/
.cameraGrid {
    width: 100;
    height: 100;
    margin: 10;
    border-width: 1;
    border-color: white;
    border-radius: 5;
}

.cameraButton{
    color: white;
    font-size: 50;
    padding: 10;
}