<ActionBar title="Local Temperature" class="action-bar">
    <ActionItem (tap)="showInfo()" ios.position="right">
        <Button [text]="'fa-question' | fonticon" class="fa brown"></Button>
    </ActionItem>
</ActionBar>

<ScrollView class="orange">

    <StackLayout class="orange">

        <ng-template #elseBlock>
            <Label textWrap="true" class="banner" text="Match your local temperature to a recipe using a sensor"></Label>
        </ng-template>

        <StackLayout *ngIf="temperature$ !== undefined; else elseBlock">
                <StackLayout  class="tempCard">
                    <Label class="temp" [text]="temperature$ + '°'"></Label>
                    <Label [text]="recommendation" textWrap="true"></Label>
                    <Button class="tempButton" text="Find me some recipes!" (tap)="findRecipes(temperature$)"></Button>
                </StackLayout>
                <WrapLayout horizontalAlignment="center">
                    <StackLayout class="card" width="45%" *ngFor="let recipe of (calibratedrecipes$ | async)">
                        <StackLayout rows="auto,*" (tap)="goToRecipe(recipe.id)">
                            <Image stretch="aspectFill" [src]="recipe.Image" height="85%" width="100%"></Image>
                            <Label class="name" horizontalAlignment="center" textWrap="true" [text]="recipe.Name"></Label>
                        </StackLayout>
                    </StackLayout>
                </WrapLayout>
                        
        </StackLayout>       

    </StackLayout>

</ScrollView>