<ActionBar title="Local Temperature" class="action-bar">
    <ActionItem (tap)="showInfo()" ios.position="right">
        <Button [text]="'fa-question' | fonticon" class="fa brown"></Button>
    </ActionItem>
</ActionBar>
    
    <ScrollView class="orange">

        <!--<StackLayout>-->
            <!--<ng-template #elseBlock>
                <Label textWrap="true" class="banner" text="Match your local temperature to a recipe using an Estimote beacon"></Label>
            </ng-template>
            
            <Gradient *ngIf="temperature !== undefined; else elseBlock" class="gradientCard" direction="to bottom" [colors]="gradient">
                <Label class="temp" [text]="temperature + '°'"></Label>
                <Label [text]="recommendation" textWrap="true"></Label>
            </Gradient>-->

            <WrapLayout horizontalAlignment="center">      
                <StackLayout class="card" width="45%" *ngFor="let temp of (temperatures$ | async)">
                    <StackLayout rows="auto,*">
                        <Label class="name" horizontalAlignment="center" textWrap="true" [text]="temp.temperature"></Label>
                    </StackLayout>
                </StackLayout>          
            </WrapLayout> 

           <!-- </StackLayout> -->
        
    </ScrollView>

